  .body{
            font-size: medium;
            font-family: Arial;
        }
        .toggle-button{
            background-color: black;
            color: white;
            padding: 10px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .is-toggled{
            background-color: grey;
            color: black;
        }
    